body {
    background-color: #fbe3cb;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

.heading1 {
    position: relative;
    background-image: url(../images/heading1_background.jpg); /* replace with your image */
    background-size: cover; /* makes the image fill the container */
    background-position: center;
    border-radius: 10px;
    height: 20rem; /* adjust as needed */
    color: white; /* text color */
    padding: 1.25;
    box-sizing: border-box; 
}

.heading1 h1 {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    margin: 0;
    font-size: 3rem;
}

.heading1 p {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    max-width: 90%;
    margin: 0;
    font-size: 1.75rem;
}

h2 {

    font-size: 2.75rem;
    margin: 1rem;
}

.heading2 p {
    font-size: 1.25rem;
    width: 24rem;
    align-items: center;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15rem;
    width: auto;
}

nav ul {
    background-color: #333333;
    max-width: 110rem;
    width: 90%;
    border-radius: 10px;
    list-style: none;
    text-align: center;
    margin: 1rem auto 2rem auto;
    padding: 0;
}

nav li {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
}


nav li > a {
    display: block;
    padding: 0.5rem 2.75rem;
    text-decoration: none;
    color: #ebf4ef;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav li > a:hover {
    background-color: #555555;
    text-decoration: none;
    color: #ebf4ef;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    box-sizing: border-box;
    margin: 2rem;
    background-color: #FAC898;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 1rem;
    color: #333333;
}

article img {
    height: 35rem;
    width: 24rem;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

article a:hover > img {
    box-shadow: 4px 8px 15px rgba(0,0, 0, 0.3);
    transform: scale(1.02);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div > img{
    height: 5rem;
    width: auto;
}


