body {
    background-color: #ebf4ef;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

.heading1 {
    background-image: url(../plants3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 20rem;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 3rem;
    
}

.heading1 h1 {
    font-size: 3.5rem;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: black;
    margin: 0;
    margin-bottom: 11rem;;
}

.heading1 p {
    font-size: 2rem;
    margin: 0.5rem 0 0 0;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: black;
}


h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15rem;
    width: auto;
}

nav ul {
    background-color: #333333;
    width: 500px;
    border-radius: 10px;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;

}

nav li {
    display: inline-block;
    font-size: 1.25rem;
    padding: 0.5rem 1.75rem;
}


nav li > a:link {
    text-decoration: none;
    color: #ebf4ef;
}

nav li > a:hover {
    background-color: #555555;
    text-decoration: none;
    color: #ebf4ef;
}

section {
    display: flex;
}

article {
    flex: 1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer div > img{
    height: 5rem;
    width: auto;
}


